<h1>Editing Maintenance Shop List</h1>

<%= render 'form', maintenance_shop_list: @maintenance_shop_list %>

<%= link_to 'Show', @maintenance_shop_list %> |
<%= link_to 'Back', maintenance_shop_lists_path %>
